extends layout

block content
  h1.heading=title

  p(class="mb-4") Do you really want to delete this product?
  
  form(action="", method="POST")
    input(type="hidden", name="id", value=product._id)
    button.btn-primary(type="submit") Delete